# Prisma (used as full URL)
DATABASE_URL=

# ================================
# 🔒 Auth Secret
# ================================

# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET= 


# ================================
# 🔐 OAuth (if applicable)
# ================================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=



